@model IEnumerable<HotelMNG.Models.Menu>

@foreach (var item in Model.Where(i => i.Levels == 1))
{
    <li class="active">
        <a href="@(item.Alias == "index" ? Url.Action("Index", "Home") : (item.Alias == "about-us" ? Url.Action("AboutUs", "Home") : Url.Action(item.Alias, "Home")))">
            @item.Title
        </a>
    </li>
}
